/*HEADER*/


header {
    /* height: 150px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.imgLogo {
    width: 100px;
    height: 100px;
    border-radius: 70px;
}

.HealthyPalCap {
    display: flex;
    justify-content: center;
}

.imgHealthyPalCap {
    height: 140px;
    width: 600px;
}

.busqPerfil {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
}

.busqueda {
    margin-right: 35px;
}

.perfil {
    margin-right: 30px;
}


/*MENU*/


.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botonMenu {
    width: 23%;
    height: 60px;
    border: 3px solid;
    background-color: #B0C4DE;
    border-color: #99AFCC;
    border-radius: 4px;
}

.enlaceMenu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.enlaceMenu:hover {
    background-color: #1baace;
    color: white;
    transition: 0.5s;
}




/*BODY*/


/*RUTINAS Y EJERCICIOS*/

.container {
    display: flex;
    flex-direction: column;
}

.rutinasEjercicios {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(imagenes/gimnasio.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;
}

.rutinasEjercicios::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* Capa blanca semi-transparente solo para la imagen de fondo */

}

.rutinaEjercicioPrincipal {
    background-color: white;
    color: #000;
    margin: 10px;
    font-size: 18px;
    z-index: 1;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ejercicioBotones {
    color: #000;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 90px;
}

.botonEjercicio {
    background-color: #B0C4DE;
    width: 150px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
    border-color: white;
}

.enlaceEjercicio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.enlaceEjercicioTitulo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.enlaceEjercicio:hover {
    background-color: #1baace;
    color: white;
    border-radius: 10px;
}

.enlaceEjercicioTitulo:hover {
    background-color: #1baace;
    color: white;
    border-radius: 10px;
}

/*RECETAS*/

.recetasSaludables {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(imagenes/recetas.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    align-items: center;
}

.recetasSaludables::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* Capa blanca semi-transparente solo para la imagen de fondo */
}

.recetasPrincipal {
    background-color: white;
    color: #000;
    /* Texto negro para RECETAS SALUDABLES */
    margin: 10px;
    font-size: 18px;
    z-index: 1;
    /* Añadido para z-index */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.recetasBotones {
    /* Fondo para NOVEDADES, POPULAR, TUS RECETAS */
    color: #000;
    /* Texto negro para NOVEDADES, POPULAR, TUS RECETAS */
    z-index: 1;
    /* Añadido para z-index */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 90px;
}

.botonReceta {
    background-color: #B0C4DE;
    width: 150px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
    border-color: white;
}

.enlaceRecetas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.enlaceRecetasTitulo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: larger;
}

.enlaceRecetas:hover {
    background-color: #1baace;
    color: white;
    border-radius: 10px;
}

.enlaceRecetasTitulo:hover {
    background-color: #1baace;
    color: white;
    border-radius: 10px;
}


/*FOOTER*/


footer {
    background-color: #002454;
    display: flex;
    height: 150px;
    width: 100%;
    color: white;
    align-items: center;
}

.terminos {
    width: 30%;
    margin-left: 5%;
}

.divTerminos {
    margin: 7px;
}

.enlaceTerminos {
    color: white;
}

.derechosAutor {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: xx-small;
    align-items: center;
    margin-top: 5%;
}

.imgDerechosAutor {
    margin: 1px;
    width: 15px;
    height: 15px;
}

.contacto {
    width: 30%;
    display: flex;
    justify-content: right;
    margin: 5px;
}

.imgContacto {
    width: 50px;
    height: 50px;
    margin: 10px;
}


@media screen and (max-width: 914px) {
    .imgHealthyPalCap {
        height: 100%;
        width: 100%;
    }

    .nomEmpresa {
        width: 50%;
    }

    header {

        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .busqPerfil {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 10px;
    }

    .busqueda {
        width: 25%;
    }

    .imgBusqPerfil {
        width: 100%;
    }

    .perfil {
        width: 30%;
    }

    .imgIconoUsuario {
        width: 100%;
    }

    .imgLogo {
        width: 100%;
    }

    .logo {
        width: 10%;
    }

    footer {
        height: 130px;
    }

    .imgContacto {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .terminos {
        font-size: x-small;
    }
}

@media screen and (max-width: 780px) {
    .imgLogo {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 660px) {
    .derechosAutor {
        width: 31%;
    }

    .imgContacto {
        width: 30px;
        height: 30px;
        margin: 10px;
    }

}

@media screen and (max-width: 640px) {
    .derechosAutor {
        width: 203%;
    }

    .imgContacto {
        width: 30px;
        height: 30px;
        margin: 10px;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    .terminos {
        width: 80%;
    }

    .enlaceMenu {
        font-size: medium;
    }

    b {
        font-size: large;

    }

    .enlaceEjercicio {
        font-size: medium;
    }

    .enlaceRecetas {
        font-size: medium;
    }
}

@media screen and (max-width: 500px) {

    .botonReceta {
        width: 26%;

    }

    .botonEjercicio {
        width: 26%;
    }

    .enlaceEjercicio {
        font-size: small;
    }

    .enlaceRecetas {
        font-size: small;
    }
    .terminos {
        font-size: 10%;
    }
    

}
@media screen and (max-width: 400px) {
    .botonMenu{
        width: 20%;
    height: 30px;
    }
    .enlaceMenu{
        font-size: 12px;
    }
    .enlaceEjercicio{
        font-size: 10px;
    }
    .enlaceRecetas{
        font-size: 10px;
    }
    .rutinaEjercicioPrincipal{
        margin-top: 1px;
    }
}
@media screen and (max-width: 300px){
    .imgContacto{
        width: 15px;
    height: 15px;
    margin: 5px;
    }
    .enlaceMenu {
        font-size: 8px;
    }
    .nomEmpresa {
        width: 75%;
    }
}